


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Lien vers la page d'accueil -->
            <a class="navbar-brand" href="{{path("home") }}">Accueil</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('history') }}">
                        Histoire
                    </a>
                </li>
                <li>
                    <a href="{{ path('monuments') }}">
                        Monuments
                    </a>
                </li>
                <li>
                    <a href="{{ path('actualites') }}">
                        Actualités
                    </a>
                </li>
                <li>
                    <!-- Lien vers la page contact -->
                    <a href="{{path("contact") }}">
                    Contact
                    </a>
                </li>

                <li>
                    <a href="{{ path('admin_dashboard') }}">
                        Administration
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>